<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxp.mapper.UserMapper">

	<sql id="Base_Column_List">
		id,name,age,sex,id_card,dep_id,create_time
	</sql>
	<resultMap id="userList" type="user">
		<id property="id" column="id"></id>
		<result property="name" column="name"></result>
		<result property="age" column="age" />
		<result property="sex" column="sex" />
		<result property="idCard" column="id_card" />
		<result property="depId" column="dep_id" />
		<result property="createTime" column="create_time" />
		<association property="accountInfo" javaType="userAccount">
			<id property="id" column="id"></id>
			<result property="nickName" column="nick_name" />
			<result property="account" column="account" />
			<result property="password" column="password" />
		</association>
		<collection property="jobs" ofType="job">
			<id property="id" column="id" />
			<result property="userId" column="user_id" />
			<result property="jobName" column="job_name" />
		</collection>
	</resultMap>

	<insert id="insertUser" parameterType="user">
		insert into
		t_user(name,age,sex,id_card,dep_id,create_time) 
		values(#{name},#{age},#{sex},#{idCard},#{depId},#{createTime})
	</insert>

	<select id="selectUserList" parameterType="queryUserParam" resultMap="userList">
		select
		<include refid="Base_Column_List" />
		from t_user
		WHERE 1=1
		<if test="id !=null and id !=''">
			and id = #{id}
		</if>
		<if test="name !=null and name !=''">
			and name = #{name}
		</if>
		<if test="depId !=null and depId !=''">
			and dep_id = #{depId}
		</if>
	</select>

	<update id="updateUser" parameterType="user" >
		update t_user set name = #{name},dep_id=#{depId}
		where id = #{id}
	</update>

	<!-- <select id="selectUsersById" resultType="users"> select id,name,age 
		from users where id = #{value} </select> <update id="updateUser" parameterType="users"> 
		update users set name=#{name} ,age=#{age} where id=#{id} </update> <delete 
		id="deleteUserById"> delete from users where id = #{value} </delete> -->




</mapper>